{"installed":{"client_id":"383408412542-0orfj12kgcjo0mk5dp0908foavjo7fp2.apps.googleusercontent.com","project_id":"smart-nomad-341816","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_secret":"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","redirect_uris":["http://localhost"]}}